//generales

mixin widgetHeader(activo)
    
  .headerSitio.txt-codepro
    .headerSitio_encabezado
      a(href="/")
        .headerSitio_logo.textoLogo Hormiguero
      button.headerSitio_toggle#menuToggle
        .toggleLine
        .toggleLine
        .toggleLine
    nav.headerSitio_navegacion.txt-sm.menuNavHidden#menuNav
      -var itemActivo=activo
      case itemActivo
        when 0
          ul
            a(href="/equipo.html")
              li#menuItem_equipo Equipo
            a(href="http://arteyciencia.untref.edu.ar/projects")
              li#menuItem_proyecto Proyecto
            a(href="#")
              li#menuItem_revista1 1. Sobre nuestra práctica
            a(href="/editorial-2.html")
              li#menuItem_revista2 2. Futuro Antiguo
        when 1
          ul
            a(href="/equipo.html")
              li#menuItem_equipo.headerSitio_item-activo Equipo
            a(href="http://arteyciencia.untref.edu.ar/projects")
              li#menuItem_proyecto Proyecto
            a(href="/entrevistas-1.html")
              li#menuItem_revista1 1. Sobre nuestra práctica
            a(href="/editorial-2.html")
              li#menuItem_revista2 2. Futuro Antiguo
        when 2
          ul
            a(href="/equipo.html")
              li#menuItem_equipo Equipo
            a(href="http://arteyciencia.untref.edu.ar/projects")
              li#menuItem_proyecto.headerSitio_item-activo Proyecto
            a(href="#")
              li#menuItem_revista1 1. Sobre nuestra práctica
            a(href="/editorial-2.html")
              li#menuItem_revista2 2. Futuro Antiguo
        when 3
          ul
            a(href="/equipo.html")
              li#menuItem_equipo Equipo
            a(href="http://arteyciencia.untref.edu.ar/projects")
              li#menuItem_proyecto Proyecto
            a(href="#")
              li#menuItem_revista1.headerSitio_item-activo 1. Sobre nuestra práctica
            a(href="/editorial-2.html")
              li#menuItem_revista2 2. Futuro Antiguo
        when 4
          ul
            a(href="/equipo.html")
              li#menuItem_equipo Equipo
            a(href="http://arteyciencia.untref.edu.ar/projects")
              li#menuItem_proyecto Proyecto
            a(href="#")
              li#menuItem_revista1 1. Sobre nuestra práctica
            a(href="/editorial-2.html")
              li#menuItem_revista2.headerSitio_item-activo 2. Futuro Antiguo   
                     
  //-Funcionalidad del menú
  script.
    var boton = document.getElementById('menuToggle');
    var nav = document.getElementById('menuNav');
    console.log(boton);
    boton.addEventListener("click", function(){
      nav.classList.toggle('menuNavHidden');
    });
                
mixin revista (nombre, meta, año, link)
  a(href=link).boxRevista.color-bg-gris.color-texto-inv
    h2=nombre
    p.color-texto-claro.txt-italic=meta
    p=año
    
mixin widgetNota(titulo, meta, urlImg, link)
  .widgetNota
    .encabezado
      a(href=link)
        h2=titulo
      p.meta=meta
    img(src=urlImg, alt=titulo)

mixin widgetEquipo(titulo, rol, urlImg)
  .widgetEquipo
    h2=titulo
    p.meta.txt-space.txt-lg=rol
    img(src=urlImg)
      
mixin widgetEntrevista1(titulo, meta, link)
  .widgetEntrevista1
    h2
      a(href=link)
        =titulo
    p.meta.txt-space=meta

      
mixin widgetSoundcloud(track)
  - var urlInicio = 'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/';
  - var urlFinal = '&color=%23ba007c&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false';
  .widgetSoundcloud
    iframe(width='100%', height='166', scrolling='no', frameborder='no', allow='autoplay', src=urlInicio+track+urlFinal)
